.header {
    width: 100%;
    min-height: 18%;
    color: #ffffff;
    box-sizing: border-box;
}

.header__title {
  color: #ffffff;
  font-size: min(7vw, 7vh);
  font-weight: bold;
  text-align: center;
}
.title__span {
  color: #B8B8E0;
  font-size: min(8vw, 8vh);
  font-weight: bold;
  opacity: 0.6;
}

@media screen and (max-width: 700px) {
    .header__title {
       font-size: 5vh; 
    }
}
